<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Coupon</title>
  </head>
  <body>
    <label for="coupon_code">Coupon Code:</label>
    <h1><%= @coupon.coupon_code %></h1>

    <label for="store">Store:</label>
    <h1><%= @coupon.store %></h1>
  </body>
</html>
